body {
    background-color: rgb(129, 131, 114);
    font-family: 'Baskervville SC', serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    color: rgb(123, 214, 202);
    position: relative;
    z-index: 1; /* Asegurar que el contenido esté por encima de las bolitas */
}

a {
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    min-height: 70px;
    background-color: rgb(74, 121, 99);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 1; 
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

nav a {
    font-weight: 600;
    padding-right: 10px;
}

.info {
    display: flex;
    align-items: flex-start;  
    font-family: 'Raleway', sans-serif;
    color: rgb(29, 28, 28);
    margin: 20px;
    padding: 10px;
    z-index: 1; /* Asegurar que el contenido esté por encima de las bolitas */
    position: relative;
}

.info img {
    height: 400px;
    margin-right: 20px;
}

.info h3 {
    max-width: 500px;
    line-height: 1.6;
}

nav a:hover {
    color: rgb(88, 218, 157);
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(145, 219, 224);
    z-index: 1;
    position: relative;
}

/* Estilos para las bolitas animadas */
.bolita {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7); /* Bolitas semitransparentes */
    animation: mover 20s linear infinite;
    z-index: 0; /* Bolitas detrás del contenido */
}

/* Animación para mover las bolitas */
@keyframes mover {
    0% {
        transform: translateY(0) translateX(0);
    }
    100% {
        transform: translateY(-100vh) translateX(100vw);
    }
}

/* Media Queries */
@media (max-width: 700px) {
    header {
        flex-direction: column;
    }
    nav {
        padding: 10px 0px;
    }
    .info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .info img {
        margin-bottom: 20px;
    }
    .info h3 {
        max-width: 100%;
    }
}

/* Cards */
.container-card {
    width: 100%;
    display: flex;
    max-width: 1100px;
    margin: auto;
    z-index: 1; 
}

.title-cards {
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: rgb(56, 77, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease-out;
    cursor: default;
    z-index: 1; 
}

.card:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img {
    width: 100%;
    height: 210px;
}

.card .contenido-card {
    padding: 15px;
    text-align: center;
}

.card .contenido-card h3 {
    margin-bottom: 15px;
    color: #272323;
}

.card .contenido-card p {
    line-height: 1.8;
    color: #272323;
    font-size: 14px;
    margin-bottom: 5px;
}

.card .contenido-card a {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
    margin-bottom: 5px;
}

.card .contenido-card a:hover {
    background: #2fb4cc;
    color: #fff;
}